body {
    margin: 150px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    background-color: aquamarine;
}

button {
    padding: 5px;
    margin: 5px;
    width: 100px;
    
    
}
